.owl-dots {
    margin-top: 15px;
    justify-content: center;
    display: flex
}

.owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #d2691e;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 100%;
    opacity: .5
}

.owl-dot.active span,
.owl-dot:hover span {
    opacity: 1
}

.owl-carousel.owl-drag .owl-item {
    padding: 10px
}

li a {
    display: block
}

.h2-title {
    margin-top: 20px
}

.info {
    box-shadow: 2px 2px 5px silver;
    margin: 2em;
    padding-bottom: 3em;
    max-width: 18em;
    text-align: center
}

.info img {
    height: 15em;
    width: 15em;
    margin-bottom: 2em
}

.empresa-blocos h2 {
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0C6980;
    text-transform: uppercase;
    padding-bottom: 5%
}

.empresa-blocos {
    text-align: center;
    transition: 0.3s;
    display: inline-block
}

.empresa-blocos li {
    list-style: none;
    margin-left: -15%
}

.empresa-blocos ul {
    margin-top: -5%
}

.empresa-blocos .duplo {
    padding-bottom: 10px
}

.project-post .produtos {
    box-shadow: 2px 2px 5px silver;
    margin: 2em;
    padding-bottom: 3em;
    max-width: 18em;
    text-align: center
}

.project-post .produtos img {
    height: 15em;
    width: 15em;
    margin-bottom: 2em
}

.borderhover {
    border: 1px solid #0C6980
}

body {
    font-family: sans-serif
}

a:hover {
    text-decoration: none
}

h1,
.h1 {
    color: #0C6980;
    font-weight: 700;
    font-size: 2.2em;
    text-transform: uppercase !important
}

h2,
.h2 {
    font-size: 1.5rem;
    color: #0C6980;
    text-transform: uppercase !important
}

h3,
.h3 {
    font-size: 1.25rem
}

h4,
.h4 {
    font-size: 1rem
}

h5,
.h5 {
    font-size: 0.75rem
}

h6,
.h6 {
    font-size: 0.5rem
}

p {
    font-weight: 500
}

a.fone::before {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    display: inline-block;
    font-weight: 900;
    margin-right: 5px
}

a.whats::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f232";
    display: inline-block;
    font-weight: 400;
    margin-right: 5px
}

.mapasite li {
    list-style: none
}

.mapasite a {
    color: #333
}

.mpis {
    padding-left: 3em
}

.mapasite .principal {
    font-weight: bold
}

header {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
}

.info-header {
    background: linear-gradient(to left, #0C6980, #00A8A8);
    color: white;
    padding: 15px 0
}

.info-header a {
    color: #fff;
    margin: 0 5px
}

.navbar-brand>img {
    width: 200px
}

#menu {
    background-color: #ffffff;
    min-height: auto;
    padding: 0;
    background-image: url("../img/gplay.png")
}

.dropdown-item:hover,
.dropdown-item:focus,
.list-group-item:focus,
.list-group-item:hover {
    background-color: #0c6980;
    border-radius: 5px;
    color: #fff !important
}

.dropdown-item:hover a {
    color: #fff !important
}

.dropdown-menu.second-lvl {
    background-color: #ffffff;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 50vh;
    width: auto;
    min-width: 60vw;
    left: -60vw
}

.dropdown-menu.second-lvl a {
    color: #333;
    padding: 0px 2px;
    width: 100%;
    font-size: 14px
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #d2691e
}

.dropdown-item.active,
.dropdown-item:focus {
    color: #fff;
    background-color: #d2691e
}

.navbar-light .navbar-nav .nav-link.menu-text {
    color: #333;
    font-weight: 300;
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 2rem .5rem
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff
}

.breadcrumb {
    background: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    font-size: 14px
}

.breadcrumb a {
    color: #fff
}

.breadcrumb-item.active {
    color: rgba(255, 255, 255, 0.7)
}

.banner-brad {
    background: url(../img/banner-empresa.jpg) no-repeat center center;
    background-size: cover
}

@media only screen and (max-width: 700px) {
    .banner-brad {
        background: url(../img/banner-empresa-m.jpg) no-repeat center center;
        background-size: cover
    }
}

section.page-banner-section h1 {
    font-size: 2.2em;
    line-height: 60px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0px;
    text-shadow: 1px 1px 2px #000
}

section.page-banner-section p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px #000
}

.card-footer:last-child {
    border-radius: 0px
}

#carousel,
#carousel .carousel-inner,
#carousel .carousel-inner .carousel-item {
    height: 70vh
}

.scont {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5)
}

.sbutton {
    display: block;
    text-align: center;
    float: right;
    background: #d2691edf;
    border-radius: 0px;
    padding: 10px;
    color: #fff !important;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    font-size: 19px
}

.sbutton i {
    float: right;
    font-size: 20px;
    padding-top: 3px;
    margin-right: 10px
}

.stitulo {
    color: #fff;
    font-size: 3em;
    text-shadow: 1px 1px 1px #000;
    margin: 0px;
    padding: 10px;
    background: linear-gradient(to left, rgba(12, 105, 128, 0.9), rgba(0, 168, 168, 0.9))
}

.sdesc {
    color: #fff;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px #000;
    margin: 0px;
    padding: 10px;
    background: #545b62d5
}

.carousel-inner .one {
    background: url(../img/banner03.jpg) no-repeat center center;
    background-size: cover
}

.carousel-inner .two {
    background: url(../img/banner02.jpg) no-repeat center center;
    background-size: cover
}

.carousel-inner .three {
    background: url(../img/banner04.jpg) no-repeat center center;
    background-size: cover
}

@media only screen and (max-width: 700px) {
    .scont {
        height: 100%;
        width: 100%
    }

    .stitulo {
        color: #fff;
        font-size: 2.4em;
        text-shadow: 1px 1px 1px #000
    }

    .sdesc {
        color: #fff !important;
        font-size: 1.3em;
        text-shadow: 1px 1px 1px #000
    }

    .carousel-inner .one {
        background: url(../img/banner03-m.jpg) no-repeat center center;
        background-size: cover
    }

    .carousel-inner .two {
        background: url(../img/banner02-m.jpg) no-repeat center center;
        background-size: cover
    }

    .carousel-inner .three {
        background: url(../img/banner04-m.jpg) no-repeat center center;
        background-size: cover
    }
}

.lead.slider-text {
    font-size: 3.5em;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000
}

.button-slider {
    padding: 15px 50px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 3px;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    top: 20px;
    transition: .3s ease-in-out all;
    text-shadow: 1px 1px 1px #969696
}

.button-slider:hover {
    background-color: #fff;
    color: #000
}

.button-slider2 {
    padding: 12px 50px;
    background-color: #d2691e;
    color: #fff;
    border-radius: 3px;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    top: 20px;
    transition: .3s ease-in-out all;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0px
}

.button-slider2:hover {
    background: linear-gradient(to left, #0C6980, #00A8A8);
    color: #FFF
}

.carousel-caption.fix-slider {
    top: 0px;
    height: 90%;
    left: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.carousel-caption p {
    font-size: 1.8em;
    font-weight: 500;
    margin: 0px;
    text-shadow: 1px 1px 1px #000
}

.carousel-item.carousel-height {
    height: 700px
}

div.carousel-item>img {
    height: 100vh
}

.carousel-indicators.lineSlide .active {
    background: linear-gradient(to left, #0C6980, #00A8A8);
    height: 8px
}

[data-anime] {
    opacity: 0;
    transition: 1s all ease-in-out
}

[data-anime="left"] {
    transform: translate3d(-50px, 0px, 0px)
}

[data-anime="in"] {
    transform: translate3d(0px, 0px, 0px)
}

[data-anime="right"] {
    transform: translate3d(50px, 0px, 0px)
}

[data-anime="up"] {
    transform: translate3d(0px, 70px, 0px)
}

[data-anime="down"] {
    transform: translate3d(0px, -70px, 0px)
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}

[data-anime2] {
    opacity: 0;
    transition: 1s all ease-in-out
}

[data-anime2="left"] {
    transform: translate3d(-50px, 0px, 0px)
}

[data-anime2="in"] {
    transform: translate3d(0px, 0px, 0px)
}

[data-anime2="right"] {
    transform: translate3d(50px, 0px, 0px)
}

[data-anime2="up"] {
    transform: translate3d(0px, 70px, 0px)
}

[data-anime2="down"] {
    transform: translate3d(0px, -70px, 0px)
}

[data-anime2].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}

[data-anime3] {
    opacity: 0;
    transition: .3s all ease-in-out
}

[data-anime3="left"] {
    transform: translate3d(-50px, 0px, 0px)
}

[data-anime3="in"] {
    transform: translate3d(0px, 0px, 0px)
}

[data-anime3="right"] {
    transform: translate3d(50px, 0px, 0px)
}

[data-anime3="up"] {
    transform: translate3d(0px, 70px, 0px)
}

[data-anime3="down"] {
    transform: translate3d(0px, -70px, 0px)
}

[data-anime3].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}

.line-yellow {
    padding-bottom: 25px;
    margin-bottom: 25px
}

.line-yellow:after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: 48.1%;
    margin-left: -15px;
    width: 50px;
    height: 6px;
    background: linear-gradient(to left, #0C6980, #00A8A8)
}

.black-wrapper {
    background: #2c2c2c;
    color: #cacaca
}

.text-destaq {
    color: #0C6980;
    font-weight: 700;
    font-size: 2.2em
}

.text-card {
    color: #ffffff;
    text-align: left
}

.text-card2 {
    padding: 0 25px;
    text-align: left;
    color: #0C6980
}

.cta-relac {
    color: #9b9b9b;
    padding: 10px 40px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #9b9b9b;
    margin: 0px auto 40px;
    transition: .3s ease
}

.cta-relac:hover {
    border: 2px solid #000000;
    color: #000000
}

.fix-img-intro {
    width: 100%;
    height: 100%
}

.background-bloco {
    align-items: center;
    display: flex;
    background-color: #EFEDEA;
    background-image: url("../img/gplay.png");
    flex-wrap: wrap
}

.quadro-depo {
    height: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 40px 20px 0;
    flex-wrap: wrap;
    flex-direction: column
}

a.icon-click {
    color: #fff
}

a.icon-click:hover {
    opacity: .6
}

.sec-h2 {
    color: #0C6980;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 50px
}

.sec-h2:after {
    content: '';
    position: absolute;
    top: 131px;
    left: 65px;
    margin-left: -15px;
    width: 70px;
    height: 5px;
    display: none;
    background: linear-gradient(to left, #0C6980, #00A8A8)
}

.sec-p {
    color: #fff
}

.steps {
    margin: 0 auto;
    width: 700px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    position: relative
}

.timeline-border {
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #dadada;
    height: 100%
}

.step {
    width: 700px;
    float: right;
    text-align: left;
    margin: 0 0 10px;
    padding: 10px 0 0 405px;
    position: relative
}

.step.even {
    float: left;
    text-align: right;
    padding: 10px 405px 0 0
}

.step h5 {
    color: #0C6980
}

.step .icon-border {
    position: relative;
    margin-left: 10px
}

.step.even .icon-border {
    margin-right: 10px
}

.step .icon-border:before {
    content: "";
    display: block;
    width: 65px;
    border-bottom: 1px solid #dadada;
    position: absolute;
    top: 35px;
    left: -65px
}

.step.even .icon-border:before {
    left: auto;
    right: -65px
}

.icon-border {
    display: inline-block
}

.icon-border i {
    line-height: 1;
    text-align: center;
    color: #0C6980;
    font-size: 40px;
    padding: 0;
    margin: 0 0 10px 0;
    display: table;
    width: 70px;
    height: 70px;
    border: 2px solid #0C6980;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in
}

.step:hover .icon-border i {
    background: linear-gradient(to left, #0C6980, #00A8A8);
    color: #FFF
}

.icon-border i:before {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.statistic-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center
}

.statistic-post h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 15px 0
}

.statistic-post i {
    background-color: #f7dc6f;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out
}

.statistic-post i:hover {
    color: #fff
}

.timer-elem {
    display: block;
    color: #fff;
    font-size: 3em;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 10px
}

.text-final-sec-4 {
    color: #fff
}

.btn-ylw {
    color: #fff;
    background-color: #9c6;
    font-size: 1.2em;
    font-weight: 600;
    margin: auto;
    padding: 15px 20px
}

.btn-ylw:hover {
    color: #fff;
    background-color: #628c39
}

.ItemAccord {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 0 10px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box
}

.btn-accord {
    font-weight: 600;
    background-color: transparent
}

.btn:focus,
.btn.focus {
    box-shadow: unset
}

section.portfolio-section {
    padding: 1em 0 2.5em
}

section.portfolio-section ul.filter {
    margin-bottom: 45px;
    text-align: center
}

section.portfolio-section ul.filter li {
    display: inline-block;
    margin: 0 8px
}

section.portfolio-section ul.filter li a {
    color: #0C6980;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase
}

section.portfolio-section ul.filter li a:hover,
section.portfolio-section ul.filter li a.active {
    color: #F7DC6F
}

section.portfolio-section .portfolio-box.iso-call {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px
}

section.portfolio-section .portfolio-box.iso-call .project-post {
    margin: 15px;
    width: 100%
}

section.portfolio-section .portfolio-box {
    overflow: hidden;
    margin-bottom: 30px;
    margin: auto
}

section.portfolio-section .portfolio-box .project-post {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    float: left;
    width: 100%;
    position: relative
}

section.portfolio-section .portfolio-box .project-post .project-content {
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 2;
    background: linear-gradient(to left, #0C6980, #00A8A8)
}

section.portfolio-section .portfolio-box .project-post .project-content h2 {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 500;
    color: #fff
}

section.portfolio-section .portfolio-box .project-post .project-content h2 a {
    color: #0C6980
}

section.portfolio-section .portfolio-box .project-post .project-content span {
    display: block;
    margin: 0;
    color: #888888;
    font-size: 13px;
    font-family: "Droid Serif", serif;
    line-height: 20px
}

section.portfolio-section .portfolio-box .project-post .hover-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    opacity: 0;
    background: rgba(255, 255, 255, 0.7)
}

section.portfolio-section .portfolio-box .project-post .hover-box a.zoom {
    position: absolute;
    top: 70%;
    margin-top: -100px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to left, #0C6980, #00A8A8)
}

section.portfolio-section .portfolio-box .project-post .hover-box a.zoom:hover {
    background: linear-gradient(to left, #0C6980, #00A8A8);
    color: #fff
}

section.portfolio-section .portfolio-box .project-post:hover .hover-box {
    opacity: 1
}

section.portfolio-interior-section {
    padding: 100px 0
}

section.portfolio-interior-section .portfolio-box.iso-call {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post {
    margin: 15px;
    width: 360px;
    position: relative
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post img {
    width: 100%;
    height: auto
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post .hover-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    opacity: 0;
    justify-content: flex-end;
    background: rgba(51, 51, 51, 0.8);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post .hover-box h2 {
    margin-bottom: 10px;
    padding-bottom: 60px;
    margin-top: -40px;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post .hover-box h2 a {
    color: #fff
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post .hover-box h2 a:hover {
    color: #F7DC6F
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post .hover-box h2:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #F7DC6F
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post .hover-box span {
    display: inline-block;
    font-weight: 600;
    margin-bottom: -60px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post:hover .hover-box {
    opacity: 1
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post:hover .hover-box h2 {
    padding-bottom: 10px;
    margin-top: 0
}

section.portfolio-interior-section .portfolio-box.iso-call .project-post:hover .hover-box span {
    margin-bottom: 0
}

section.portfolio-architecture-section {
    padding: 100px 0 0;
    background: #f7f7f7
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post {
    width: 25%;
    position: relative
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post img {
    width: 100%;
    height: auto
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post .hover-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.8);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post .hover-box h2 {
    margin-bottom: 10px;
    padding-bottom: 60px;
    margin-top: -40px;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post .hover-box h2 a {
    color: #fff
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post .hover-box h2 a:hover {
    color: #F7DC6F
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post .hover-box h2:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background: #F7DC6F
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post .hover-box span {
    display: inline-block;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 0;
    color: #fff;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post.big-size {
    width: 50%
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post:hover .hover-box {
    opacity: 1
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post:hover .hover-box h2 {
    padding-bottom: 10px;
    margin-top: 0
}

section.portfolio-architecture-section .portfolio-box.iso-call .project-post:hover .hover-box span {
    margin-top: 0
}

.list-group-item.aside-title {
    background: #f7dc6f;
    border-radius: 0px !important;
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
    border: none;
    width: 100%;
    margin-right: 0;
    text-transform: uppercase
}

.card-deck .card {
    margin-bottom: 15px
}

.card-footer {
    background: #fff;
    min-height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    flex-direction: column;
    padding: 1em .5em
}

.card-footer h2 {
    color: #000;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    font-weight: 700
}

.cards {
    overflow: hidden;
    transition: .2s
}

.cards:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
}

.card-img-top.new-card:hover.overlay {
    opacity: 1
}

.card-img-top.new-card:after {
    background-color: rgba(63, 141, 191, 0.92);
    position: absolute;
    opacity: 1
}

.overlay {
    background-color: rgba(63, 141, 191, 0.92);
    opacity: 1;
    z-index: 2;
    position: relative
}

.card-img-top.new-card {
    transition: .3s all ease-in-out
}

.tooltip-arrow {
    color: #fff;
    padding: 5px;
    position: absolute;
    left: 25px;
    display: flex;
    align-items: center;
    height: 24.5px;
    z-index: 3
}

.tooltip-arrow:before {
    border: 10px solid transparent;
    border-bottom-color: #0C6980;
    content: "";
    left: 10px;
    top: -19px;
    position: absolute
}

.contact-form a {
    color: #212529
}

.footer-bs {
    background-color: #222222;
    padding: 60px 0px;
    padding-bottom: 0;
    color: #fff
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px
}

.footer-bs .footer-brand p {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7)
}

.footer-bs .footer-brand address {
    color: rgba(255, 255, 255, 0.7)
}

.footer-bs .footer-brand a {
    color: rgba(255, 255, 255, 0.7)
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px
}

.footer-bs .footer-nav ul.pages a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px
}

.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none
}

.footer-bs .footer-nav h2 {
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #eee
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px
}

.footer-bs .footer-social ul li {
    padding: 5px 0px
}

.footer-bs .footer-social h2 {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff
}

.footer-bs .footer-social a {
    color: rgba(255, 255, 255, 0.7)
}

.footer-bs .footer-social a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none
}

.copyright-footer {
    text-align: left;
    font-size: 10px;
    color: #eee;
    background-color: #292929;
    padding: 20px 0;
    padding-top: 50px
}

.copyright-footer .selos {
    float: right
}

.copyright-footer .selos strong {
    background: #fff;
    color: #363b36;
    padding: 0px 5px
}

.copyright-footer .selos a {
    margin: 0 0 0 5px;
    color: #B7B7B7;
    text-decoration: none;
    opacity: 0.8;
    transition-property: all;
    transition-duration: 0.3s
}

.copyright-footer .selos a:hover {
    opacity: 1
}

.copyright-footer p {
    display: flex;
    align-items: center
}

.btn-mail {
    border-radius: 0;
    color: #222;
    background: linear-gradient(to left, #0C6980, #00A8A8);
    height: auto;
    min-height: 40px;
    font-weight: 600;
    box-sizing: border-box
}

.form-fix {
    height: 40px;
    background-color: transparent;
    border: 1px solid #747474;
    padding: 0 10px
}

.whats-desk {
    display: inline-block;
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 2000;
    cursor: pointer;
    outline: none !important
}

.whats-mobile {
    display: none
}

@media (max-width: 576px) {
    .whats-desk {
        display: none !important
    }

    .whats-mobile {
        display: inline-block !important;
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 2000;
        cursor: pointer;
        outline: none !important
    }

    .whats-mobile img {
        width: 70%
    }

    .contact-form.pl-5 {
        padding: 15px !important
    }

    .contact-form.pr-5 {
        padding: 15px !important
    }

    .contact-form.border-right {
        border-right: 0 !important
    }

    footer a {
        margin: 20px 0;
        display: block;
        width: 100%;
        margin: 2px 0px;
        text-align: center;
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.1)
    }

    .copyright-footer .selos {
        float: none;
        display: block;
        text-align: center
    }

    .copyright-footer .selos a {
        display: block;
        margin: 10px 0px;
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.1)
    }
}

#scroll-up {
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    font-size: 2em;
    background: linear-gradient(to left, #0C6980, #00A8A8);
    display: none;
    justify-content: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    right: 30px;
    bottom: 128px;
    cursor: pointer
}

#scroll-up svg {
    color: white;
    font-size: 4em;
    margin: 0px 10px
}

.fa-moveUp {
    display: inline-block;
    -moz-animation: mover 1.5s infinite linear;
    -o-animation: mover 1.5s infinite linear;
    -webkit-animation: mover 1.5s infinite linear;
    animation: mover 1.5s infinite linear;
    margin: 0px 12px;
    position: relative;
    top: 0px
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0)
    }

    30% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(-2px)
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes mover {
    0% {
        transform: translateY(0)
    }

    30% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(-2px)
    }

    100% {
        transform: translateY(0px)
    }
}

.scrollTop {
    position: fixed;
    right: 3%;
    bottom: 50px;
    background: linear-gradient(to left, #0C6980, #00A8A8);
    padding: 11px 17px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 999999;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
}

.scrollTop a {
    font-size: 18px;
    color: #fff !important;
    padding: 0px !important;
    background: none !important
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger7.svg?color=000")
}

@media (max-width: 768px) {
    .btn-accord {
        max-width: 100%;
        margin: 0;
        padding: 0
    }

    .project-post {
        min-width: 100%
    }

    .fixmenubt {
        width: 100%;
        justify-content: center !important
    }

    .info {
        margin: 10px 0
    }

    .quem-somos {
        flex-wrap: wrap;
        justify-content: center
    }

    .primeiro {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .second-bloc div.first-item {
        width: 100% !important
    }

    .second-bloc div.second-item {
        width: 100% !important
    }

    .second-item:after {
        display: none
    }

    .fix-img-intro {
        display: none;
        width: 100%
    }

    li.dropdown-item {
        width: 100%
    }

    .dropdown-menu.second-lvl {
        width: 100%;
        display: block;
        overflow-y: hidden;
        max-height: 100%;
        background-color: transparent;
        border: 0px
    }

    .dropdown-menu.second-lvl a {
        color: #333 !important
    }

    .sticky-top {
        position: relative
    }

    .navbar-light .navbar-nav .nav-link.menu-text {
        padding: .6rem .5rem
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: rgba(255, 255, 255, 0)
    }

    .quem-somos-bloco-1 {
        margin: 10px !important
    }

    .quem-somos-bloco-2 {
        margin: 10px !important
    }

    div.carousel-item>img {
        height: auto
    }

    .carousel-item.carousel-height {
        height: auto
    }

    .carousel-indicators.lineSlide {
        bottom: 0
    }

    .copyright-footer {
        display: flex;
        flex-direction: column
    }

    .section.portfolio-section.portfolio-box.project-post {
        width: 100%
    }
}

@media (max-width: 992px) {
    .section.portfolio-section.portfolio-box.project-post {
        width: 100%
    }
}

@media (max-width: 1200px) {
    .section.portfolio-section.portfolio-box.project-post {
        width: 100%
    }
}

.copyright-footer .selos {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center
}

.copyright-footer .selos a {
    display: block;
    margin: 10px 0px;
    padding: 10px 0
}

.copyright-footer .selos img {
    width: auto;
    height: auto;
    object-fit: contain
}

.regioes ul li {
    float: none;
    display: block;
    width: 100%
}

.regioes ul {
    max-height: 200px;
    overflow-y: scroll;
    padding: 15px
}

.related-posting .card-body {
    padding: 1.25rem
}

@media (max-width: 768px) {
    .filtr-item {
        width: 100%
    }

    footer .footer-nav .pages li {
        background: #4F5A7A
    }

    .footer-bs .footer-nav ul.pages li {
        padding: .5rem .75rem;
        background: #393939;
        width: 100%
    }

    footer .footer-social .col-md-12 {
        padding: 0
    }

    footer .footer-social ul li {
        margin: .75rem 0;
        background: #393939
    }

    .footer-bs .footer-social ul li {
        padding: .5rem .75rem
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    border-radius: 0px
}

::-webkit-scrollbar {
    width: 13px
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #0C6980;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
}

header {
    background: #fff
}

.info-header {
    background: #d2691e;
    color: white;
    padding: 5px 0
}

.info-header a {
    color: #fff;
    margin: 0 5px
}

.navbar-brand>img {
    width: 190px
}

.list-group-item.aside-title {
    background: #EFE9E8
}

.list-group-item.aside-title h2 {
    color: #333;
    font-size: 1rem;
    font-weight: normal;
    margin: 0px
}

aside a.active-menu-aside {
    font-weight: bold
}

aside .aside-contact {
    font-size: .75rem;
    background: #d2691e;
    color: #0C6980;
    padding: .75rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0
}

aside .aside-phone {
    background: #fcfcfc;
    padding: 0.75rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.card-deck .card {
    margin-bottom: 15px
}

.card-footer {
    background: linear-gradient(to left, #0C6980, #00A8A8);
    min-height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center
}

.card-footer h2 {
    color: #ffffff;
    font-size: 1rem
}

.regioes .nav-tabs .nav-link {
    color: #666;
    font-size: 0.75rem
}

.regioes ul li {
    float: left;
    width: 20%;
    font-size: 0.75rem;
    color: #666
}

.related-posting {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 2px #fff;
    transition: .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent
}

.related-posting:hover {
    box-shadow: 2px 2px 2px #eee;
    border: 1px solid #e3e3e3
}

.related-posting img {
    height: 100px;
    width: 100%
}

.related-posting .card-body {
    padding: 1.25rem 0
}

.dropdown:hover>.dropdown-menu {
    display: flex
}

.menu-fix {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center
}

.second-bloc {
    display: flex;
    flex-wrap: wrap;
    background-color: #efedea;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%
}

.second-bloc div.first-item {
    width: 50%
}

.second-bloc div.second-item {
    width: 50%
}

.second-item h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    margin: 0px 0;
    color: #fff;
    max-width: 100%;
    line-height: 1em
}

.text-sec-block {
    color: #0C6980;
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 0 60px
}

.second-item:after {
    content: "";
    background: linear-gradient(to left, #0C6980, #00A8A8);
    position: absolute;
    top: 5%;
    height: 15%;
    width: 2px
}

.first-item h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    margin: 0px 0;
    color: #fff;
    max-width: 100%;
    line-height: 1em
}

.first-item p {
    font-size: 1.2rem;
    padding: 0 7%;
    color: #fff;
    margin: 15px 0
}

.first-item h2.first-item h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    margin: 0 5%;
    color: #2f3958;
    max-width: 100%;
    line-height: 1em
}

.second-item p {
    font-size: 1.2rem;
    padding: 0 7%;
    color: #fff
}

.produtos-home-quem {
    width: 100%;
    background-color: #2f3958;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 300px;
    width: 80vw
}

.produtos-home-quem div {
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

.produtos-home-quem p {
    color: #fff;
    font-size: 1.1em;
    text-align: justify
}

.produtos-home-quem button {
    margin: auto;
    padding: 15px 85px;
    border: none;
    background-color: #fff;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 6px;
    color: #2f3958;
    transition: .2s all ease-in-out
}

.produtos-home-quem button:hover {
    background-color: #f96900;
    color: #fff
}

.primeiro {
    background: linear-gradient(to left, #0C6980, #00A8A8);
    display: flex;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px
}

.wrapper-categorias {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 165px;
    z-index: 999;
    width: 78.6vw
}

.text-categoria {
    width: 100%;
    padding: 10px 0 10px 10px;
    background-size: 180px 180px;
    transition: .2s;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #cacaca;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
}

.categoria1 {
    text-align: left;
    border-bottom: 3px solid #e67e22;
    margin-right: 41px;
    margin-left: 50px
}

.categoria2 {
    display: flex;
    width: 100%;
    margin: 60px 0 40px 0;
    justify-content: space-around
}

.categoria2 p {
    margin: 0 0;
    padding: 10px 10px 0px 10px;
    font-size: 1em;
    text-align: justify
}

.bloco-categoria1 {
    width: 100%
}

.bloco-categoria1 img {
    height: 190px;
    width: auto;
    border: 1px solid #ddd;
    background-color: #fff
}

.picture-border {
    border: 1px solid #ddd;
    padding: 10px
}

.quem-somos-bloco-1 {
    width: 80%;
    padding: 50px 30px;
    min-height: 220px;
    background-size: 360px 180px;
    transition: .8s;
    background-color: #f1f1f1;
    margin: 0 10px 0 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
}

.quem-somos-bloco-1 h2 {
    text-transform: uppercase;
    color: #0C6980;
    font-weight: 600
}

.quem-somos-bloco-1:hover {
    background-color: #2e5eae;
    color: #fff;
    background-color: #2f3958
}

.quem-somos-bloco-1:hover h2 {
    color: #fff
}

.quem-somos-bloco-2 {
    width: 80%;
    padding: 50px 30px;
    min-height: 220px;
    background-size: 360px 180px;
    transition: .8s;
    background-color: #f1f1f1;
    margin: 0 10px 0 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
}

.quem-somos-bloco-2 h2 {
    color: #0C6980;
    text-transform: uppercase;
    font-weight: 600
}

.quem-somos-bloco-2:hover h2 {
    color: #fff
}

.quem-somos-bloco-1:hover {
    background-color: #2e5eae;
    color: #fff;
    background-size: contain !important;
    background: linear-gradient(to left, #0C6980, #00A8A8) !important
}

.quem-somos-bloco-2:hover {
    color: #fff;
    background-size: contain !important;
    background: linear-gradient(to left, #0C6980, #00A8A8) !important;
    transition: .8s
}

.quadro-4:hover {
    background-color: #2e5eae;
    color: #fff;
    background-size: contain !important
}

.quadro-5:hover {
    color: #fff;
    background-size: contain !important;
    background: linear-gradient(to left, #0C6980, #00A8A8) !important;
    transition: .8s
}

.quadro-6:hover {
    color: #fff;
    background-size: contain !important;
    background: linear-gradient(to left, #0C6980, #00A8A8) !important;
    transition: .8s
}

.quem-somos-bloco-3 {
    width: 80%;
    min-height: 220px;
    padding: 50px 30px;
    background-size: 360px 180px;
    transition: .8s;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
}

.quem-somos-bloco-3 h2 {
    color: #0C6980;
    text-transform: uppercase;
    font-weight: 600
}

.quem-somos {
    display: flex;
    position: relative;
    padding: 20px 0;
    align-items: center
}

.quem-somos h2 {
    width: 100%;
    font-size: 1.5em
}

.overlay:before {
    content: '';
    background-image: linear-gradient(rgba(4, 159, 206, 0.9), #0d97c3);
    right: 0;
    width: 100%;
    height: 622px;
    margin-top: -18px;
    z-index: 0;
    position: absolute
}

.fixmenubt {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto
}

.second-bloc .border-topo {
    border-top: 0px solid #fff
}

.second-bloc .border-esqu {
    border-left: 1px solid #fff
}

.second-bloc .border-baixo {
    border-bottom: 0px solid #fff
}

.second-bloc .border-dir {
    border-right: 1px solid #fff
}

@media (max-width: 768px) {
    .second-bloc .border-topo {
        border-top: 1px solid #fff
    }

    .second-bloc .border-esqu {
        border-left: 0px solid #fff
    }

    .second-bloc .border-baixo {
        border-bottom: 1px solid #fff
    }

    .second-bloc .border-dir {
        border-right: 0px solid #fff
    }

    #cotacao-modal .cotacao-modal-content{
        width: 98%;
    }
}
#breadcrumb > nav > ol > li:nth-child(2){
    display: flex;
  }