/* BLOG 01 */

.blog-grid aside {
  margin-left: 0;
  margin-right: 5%;
  border: none;
}

.blog-grid#author aside {
  margin-right: 0;
  margin-left: 5%;
}

.blog-grid .aside-sig-search input {
  border: none;
  background-color: var(--light);
  padding: 16px;
}

.blog-grid .aside-sig-search button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.blog-grid .aside-sig-menu {
  background: var(--light);
  margin: 24px 0;
  padding: 24px;
}

.blog-grid .blog-inc__info {
  padding: 32px;
}

.blog-grid .blog-inc__heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.blog-grid .blog-inc__heading-title {
  color: var(--dark);
  font-size: 2rem;
  margin: 0;
}

.blog-grid .blog-inc__heading-text {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.5px;
}

.blog-grid .blog-inc__heading-text a {
  transition: 0.3s;
}

.blog-grid .blog-inc__heading-text a:hover {
  color: var(--dark);
}

.blog-grid .blog-inc__cover img {
  width: 100%;
  display: block;
}

.blog-grid .aside-sig-grid h2 {
    color: var(--dark);
    margin: 0 0 8px 0;
}

.blog-grid .recent-posts {
  padding: 24px;
  background-color: var(--light);
  margin: 24px 0;
}

.blog-grid .recent-posts__item a {
  padding: 12px 0;
  display: block;
  color: var(--grey);
  font-size: 14px;
  transition: 0.3s;
}

.blog-grid .recent-posts__item a.active-menu-aside,
.blog-grid .recent-posts__item:hover a {
  color: var(--primary-color);
}

.blog-grid .recent-posts__item li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-grid .blog-tag-list--aside {
  background-color: var(--light);
  margin: 24px 0;
  padding: 24px;
}

.blog-grid .blog-tag-list__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.blog-grid .blog-tag-list a:hover {
  background-color: var(--dark);
}

.blog-grid .blog-tag-list--aside a {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 13px;
}

.blog-grid .blog-tag-list--aside a:hover {
  background-color: var(--primary-color);
  color: #FFF;
}

.blog-grid .aside-sig-grid li { margin: 0; }
.blog-grid .aside-sig-grid li:not(:last-of-type) { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.blog-grid .aside-sig-grid .sub-menu { display: block; margin: 0;}
.blog-grid .aside-sig-grid .sub-menu--first { display: block; }
.blog-grid .aside-sig-grid .submenu-item { display: block; margin: 0; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 12px 0; color: var(--grey); font-size: 1em; -webkit-transition: .3s; transition: .3s; }
.blog-grid .aside-sig-grid .submenu-item--first:hover { border-left-color: var(--primary-color); }
.blog-grid .aside-sig-grid .submenu-item--last { padding-left: 15px; font-size: 14px;  }
.blog-grid .aside-sig-grid .submenu-item:hover, 
.blog-grid .aside-sig-grid .submenu-item.active-menu-aside { color: var(--primary-color); background-color: #f7f7f7; }

.blog-grid .blog-card {
  background-color: var(--light);
}

.blog-grid .blog-card__image {
  transition: 0.3s;
  position: relative;
}

.blog-grid .blog-card__image a:not(.blog-card__category) {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.blog-grid .blog-card__image a:not(.blog-card__category)::before {
  content: "\f0c1";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  color: #FFF;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 24px;
}

.blog-grid .blog-card__image a:not(.blog-card__category):hover::before {
  opacity: 1;
  padding-top: 0;
}

.blog-grid .blog-card__title {
  font-size: 18px;
}

.blog-grid .blog-card__title a {
  transition: 0.3s;
}

.blog-grid .blog-card__title:hover a {
  color: var(--primary-color);
}

.blog-grid .blog-card__date {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.5px;
}

.blog-grid .blog-card__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-grid .blog-card__date {
  order: -1;
}

.blog-grid .blog-card__description p {
  margin: 0;
  line-height: 1.8;
  opacity: 0.9;
}

.blog-grid .blog-card__category {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--primary-color);
  color: #FFF;
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 2px;
  transition: 0.3s;
}

.blog-grid .blog-card__category:hover {
  background-color: var(--dark);
}

@media only screen and (max-width: 576px) {
  .blog-grid aside {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .blog-grid .blog-inc__info {
    padding: 32px 0;
  }

  .blog-grid .recent-posts {
    padding: 24px 16px;
  }

  .blog-grid .aside-sig-menu {
    padding: 24px 16px;
  }

  .blog-grid .blog-tag-list--aside {
    padding: 24px 16px;
  }
}

/* FIM BLOG 01 */